In [2]:
import pandas as pd
import numpy as np

## Data Processing

In [3]:
data = pd.read_csv("Dataset/used_device_data.csv")

In [4]:
df = data.copy()

In [5]:
df.head(5)

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,new_price,used_price
0,Honor,Android,14.50,yes,no,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,111.62,74.26
1,Honor,Android,17.30,yes,yes,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,249.39,174.53
2,Honor,Android,16.69,yes,yes,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,359.47,165.85
3,Honor,Android,25.50,yes,yes,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,278.93,169.93
4,Honor,Android,15.32,yes,no,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,140.87,80.64

In [6]:
for each_col in df.columns:
    print(each_col)

brand_name
os
screen_size
4g
5g
main_camera_mp
selfie_camera_mp
int_memory
ram
battery
weight
release_year
days_used
new_price
used_price

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3454 entries, 0 to 3453
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand_name        3454 non-null   object
 1   os                3454 non-null   object
 2   screen_size       3454 non-null   float64
 3   4g                3454 non-null   object
 4   5g                3454 non-null   object
 5   main_camera_mp    3275 non-null   float64
 6   selfie_camera_mp  3452 non-null   float64
 7   int_memory        3450 non-null   float64
 8   ram               3450 non-null   float64
 9   battery           3448 non-null   float64
 10  weight            3447 non-null   float64
 11  release_year      3454 non-null   int64
 12  days_used         3454 non-null   int64
 13  new_price         3454 non-null   float64
 14  used_price        3454 non-null   float64
dtypes: float64(9), int64(2), object(4)
memory usage: 404.9+ KB

In [8]:
df.shape

(3454, 15)

In [9]:
#checking for duplicated rows
df[df.duplicated()].shape

(0, 15)

In [10]:
df.isna().sum()

brand_name            0
os                    0
screen_size           0
4g                    0
5g                    0
main_camera_mp      179
selfie_camera_mp      2
int_memory            4
ram                   4
battery               6
weight                7
release_year          0
days_used             0
new_price             0
used_price            0
dtype: int64

In [11]:
## checking for the percentage of null values()
df.isna().sum() * 100 / len(df)

brand_name          0.000000
os                  0.000000
screen_size         0.000000
4g                  0.000000
5g                  0.000000
main_camera_mp      5.182397
selfie_camera_mp    0.057904
int_memory          0.115808
ram                 0.115808
battery             0.173712
weight              0.202664
release_year        0.000000
days_used           0.000000
new_price           0.000000
used_price          0.000000
dtype: float64

In [12]:
feature = ["main_camera_mp" , "selfie_camera_mp" , "int_memory" , "ram" , "battery" , "weight"]

In [13]:

for i in feature :
    df[i] = df[i].dropna()

In [14]:
df.isna().sum()

brand_name            0
os                    0
screen_size           0
4g                    0
5g                    0
main_camera_mp      179
selfie_camera_mp      2
int_memory            4
ram                   4
battery               6
weight                7
release_year          0
days_used             0
new_price             0
used_price            0
dtype: int64

In [15]:
df.head()

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,new_price,used_price
0,Honor,Android,14.50,yes,no,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,111.62,74.26
1,Honor,Android,17.30,yes,yes,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,249.39,174.53
2,Honor,Android,16.69,yes,yes,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,359.47,165.85
3,Honor,Android,25.50,yes,yes,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,278.93,169.93
4,Honor,Android,15.32,yes,no,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,140.87,80.64

In [16]:
df["brand_name"].unique()

array(['Honor', 'Others', 'HTC', 'Huawei', 'Infinix', 'Lava', 'Lenovo',
       'LG', 'Meizu', 'Micromax', 'Motorola', 'Nokia', 'OnePlus', 'Oppo',
       'Realme', 'Samsung', 'Vivo', 'Xiaomi', 'ZTE', 'Apple', 'Asus',
       'Coolpad', 'Acer', 'Alcatel', 'BlackBerry', 'Celkon', 'Gionee',
       'Google', 'Karbonn', 'Microsoft', 'Panasonic', 'Sony', 'Spice',
       'XOLO'], dtype=object)

In [17]:
df["4g"].unique()

array(['yes', 'no'], dtype=object)

In [18]:
df["5g"].unique()

array(['no', 'yes'], dtype=object)

In [19]:
df["os"].unique()

array(['Android', 'Others', 'iOS', 'Windows'], dtype=object)

In [152]:
df["4g"] = df["4g"].map({'yes': 1 , 'no' : 0})
df["5g"] = df["5g"].map({'yes': 1 , 'no' : 0})
df["os"] = df["os"].map({'Android': 1 ,  'iOS' : 2, 'Windows' : 3,'Others' : 4})

In [153]:
df["brand_name"].value_counts()

brand_name
Others        502
Samsung       341
Huawei        251
LG            201
Lenovo        171
ZTE           140
Xiaomi        132
Oppo          129
Asus          122
Alcatel       121
Micromax      117
Vivo          117
Honor         116
HTC           110
Nokia         106
Motorola      106
Sony           86
Meizu          62
Gionee         56
Acer           51
XOLO           49
Panasonic      47
Realme         41
Apple          39
Lava           36
Celkon         33
Spice          30
Karbonn        29
BlackBerry     22
OnePlus        22
Microsoft      22
Coolpad        22
Google         15
Infinix        10
Name: count, dtype: int64

In [154]:
df.head(10)

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,new_price,used_price
0,Honor,1,14.50,1,0,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,111.62,74.26
1,Honor,1,17.30,1,1,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,249.39,174.53
2,Honor,1,16.69,1,1,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,359.47,165.85
3,Honor,1,25.50,1,1,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,278.93,169.93
4,Honor,1,15.32,1,0,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,140.87,80.64
5,Honor,1,16.23,1,0,13.0,8.0,64.0,4.0,4000.0,176.0,2020,223,157.70,82.59
6,Honor,1,13.84,1,0,8.0,5.0,32.0,2.0,3020.0,144.0,2020,234,91.74,48.34
7,Honor,1,15.77,1,0,13.0,8.0,64.0,4.0,3400.0,164.0,2020,219,179.24,113.23
8,Honor,1,15.32,1,0,13.0,16.0,128.0,6.0,4000.0,165.0,2020,161,200.32,132.43
9,Honor,1,16.23,1,0,13.0,8.0,128.0,6.0,4000.0,176.0,2020,327,159.75,118.30

In [155]:
df["brand_name"] = pd.factorize(df["brand_name"])[0] + 1

In [156]:
df.tail()

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,new_price,used_price
3449,21,1,15.34,1,0,NaN,8.0,64.0,6.0,5000.0,190.0,2019,232,654.50,89.33
3450,21,1,15.24,1,0,13.0,8.0,128.0,8.0,4000.0,200.0,2018,541,518.81,154.12
3451,24,1,15.80,1,0,13.0,5.0,32.0,3.0,4000.0,165.0,2020,201,92.65,78.05
3452,24,1,15.80,1,0,13.0,5.0,32.0,2.0,4000.0,160.0,2020,149,101.92,77.46
3453,24,1,12.83,1,0,13.0,5.0,16.0,2.0,4000.0,168.0,2020,176,72.24,62.31

In [157]:
df["brand_name"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34])

## Store feature matrix in X and Target in vector y

In [160]:
X = df.drop(["used_price"], axis = 1)

In [161]:
X

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,new_price
0,1,1,14.50,1,0,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,111.62
1,1,1,17.30,1,1,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,249.39
2,1,1,16.69,1,1,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,359.47
3,1,1,25.50,1,1,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,278.93
4,1,1,15.32,1,0,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,140.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449,21,1,15.34,1,0,NaN,8.0,64.0,6.0,5000.0,190.0,2019,232,654.50
3450,21,1,15.24,1,0,13.0,8.0,128.0,8.0,4000.0,200.0,2018,541,518.81
3451,24,1,15.80,1,0,13.0,5.0,32.0,3.0,4000.0,165.0,2020,201,92.65
3452,24,1,15.80,1,0,13.0,5.0,32.0,2.0,4000.0,160.0,2020,149,101.92
3453,24,1,12.83,1,0,13.0,5.0,16.0,2.0,4000.0,168.0,2020,176,72.24

In [162]:
y = df["used_price"]

In [163]:
y

0        74.26
1       174.53
2       165.85
3       169.93
4        80.64
         ...
3449     89.33
3450    154.12
3451     78.05
3452     77.46
3453     62.31
Name: used_price, Length: 3454, dtype: float64

## Scaking the columns

In [164]:
scale_cols = ["screen_size", "main_camera_mp", "selfie_camera_mp", "int_memory", "ram" , "battery", "weight","days_used"]

In [165]:
scale_cols

['screen_size',
 'main_camera_mp',
 'selfie_camera_mp',
 'int_memory',
 'ram',
 'battery',
 'weight',
 'days_used']

In [166]:
from sklearn.preprocessing import StandardScaler

In [167]:
ss= StandardScaler()
ss.fit_transform(X[scale_cols])

array([[ 0.20681758,  0.73520121, -0.22300885, ..., -0.08726679,
        -0.41574326, -2.20431522],
       [ 0.9427439 ,  0.73520121,  1.35532783, ...,  0.89773172,
         0.34217185, -1.40767616],
       [ 0.78241709,  0.73520121,  0.20744661, ...,  0.82077871,
         0.34217185, -2.06349518],
       ...,
       [ 0.54849765,  0.73520121, -0.22300885, ...,  0.66687269,
        -0.20081211, -1.90658143],
       [ 0.54849765,  0.73520121, -0.22300885, ...,  0.66687269,
        -0.25737294, -2.11579977],
       [-0.23210991,  0.73520121, -0.22300885, ...,  0.66687269,
        -0.16687561, -2.00716717]])

In [168]:
df

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,new_price,used_price
0,1,1,14.50,1,0,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,111.62,74.26
1,1,1,17.30,1,1,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,249.39,174.53
2,1,1,16.69,1,1,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,359.47,165.85
3,1,1,25.50,1,1,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,278.93,169.93
4,1,1,15.32,1,0,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,140.87,80.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449,21,1,15.34,1,0,NaN,8.0,64.0,6.0,5000.0,190.0,2019,232,654.50,89.33
3450,21,1,15.24,1,0,13.0,8.0,128.0,8.0,4000.0,200.0,2018,541,518.81,154.12
3451,24,1,15.80,1,0,13.0,5.0,32.0,3.0,4000.0,165.0,2020,201,92.65,78.05
3452,24,1,15.80,1,0,13.0,5.0,32.0,2.0,4000.0,160.0,2020,149,101.92,77.46
3453,24,1,12.83,1,0,13.0,5.0,16.0,2.0,4000.0,168.0,2020,176,72.24,62.31

In [ ]:
df.isna

## Train / Test Split

In [20]:
from sklearn.model_selction import train_test_split

ModuleNotFoundError: No module named 'sklearn.model_selction'

In [ ]:
scale_col = ["screen_size", "main_camera_mp" , "selfie_camera_mp", "int_memory" , "ram", "battery", "weight", "release_year", 
            "days_used", "new_price"]
scale_col

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()
ss.fit_transform()